# Frontend (Angular)
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Backend (Spring Boot)
backend/.env
backend/target/
backend/*.jar

# IDE
.idea/
.vscode/
*.iml

# Sistema
*.log
.DS_Store

# Arquivos de documentação/prototipagem (não rastrear HTMLs de poc na pasta docs)
docs/*.html
